<div class="container-fluid">
  <%=link_to "Add User", new_user_path, class: 'btn btn-primary btn-lg'%>
  <%=link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-primary btn-lg' %>
  <%=link_to "Add Category", new_category_path, class: 'btn btn-primary btn-lg' %>
  <br><br><br>
  <%=link_to "See User", users_path, class: 'btn btn-success btn-lg'%>
  <%=link_to "See Restaurant", restaurants_path, class: 'btn btn-success btn-lg' %>
  <%=link_to "See Category", categories_path, class: 'btn btn-success btn-lg' %>
</div>